.photo-grid__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    justify-content: center;
    max-width: calc(284px*4 + 16px*3);
    margin: 0 auto;
    padding: 0 0 5.75rem;
    grid-gap: 1rem;
    position: relative;
  }
  
  @media screen and (max-width: 1024px) {
    .photo-grid__container {
      grid-gap: 14px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .photo-grid__container {
      padding: 0 24px;
      grid-gap: 16px;
    }
  }
  
  @media screen and (max-width: 375px) {
    .photo-grid__container {
      padding: 0 16px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .photo-grid__container {
      grid-gap: 8px;
    }
  }

 


  